<!DOCTYPE html>
<html>
  <head>
    <title>Drinks Menu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>What  would you like to drink</h1>
    <ul>
      <li href="/drink/coffee">Coffee</li>
      <li href="/drink/tea">Tea</li>
      <li href="/drink/milk">Milk</li>
      <li href="/drink/add">add more...</li>
    </ul>
  </body>
</html>
